@font-face {
    font-family: 'Noto Sans Brahmi';
    src: url(../fonts/NotoSansBrahmi-Regular.otf) format('opentype');
}
@font-face {
    font-family: 'Noto Sans Grantha';
    src: url(../fonts/NotoSansGrantha-Regular.otf) format('opentype');
}
@font-face {
    font-family: 'Noto Sans Sharada';
    src: url(../fonts/NotoSansSharada-Regular.otf) format('opentype');
}
@font-face {
    font-family: 'Noto Sans Siddham';
    src: url(../fonts/NotoSansSiddham-Regular.otf) format('opentype');
}
@font-face {
    font-family:Noto Sans Tirhuta;
    src: url(../fonts/NotoSansTirhuta-Regular.otf) format('opentype');
}
@font-face {
    font-family:Mithilakshar;
    src: url(../fonts/MithilaUni.ttf) format('truetype');
}
.brahmi{
    font-family: 'Noto Sans Brahmi';
}
.grantha{
    font-family: 'Noto Sans Grantha';
}
.devanagari{
    font-family: 'Noto Sans';
}
.sharada {
    font-family: 'Noto Sans Sharada';
}
.siddham {
    font-family: 'Noto Sans Siddham';
}
.tirhuta {
    font-family: 'Mithilakshar';
    font-size: 1.1em;
}
.btn-lipi{--bs-btn-color:#000;
    --bs-btn-bg:#9fe2ee;
    --bs-btn-border-color:#9fe2ee;
    --bs-btn-hover-color:#000;
    --bs-btn-hover-bg:#0cc0df ;
    --bs-btn-hover-border-color:#ffc720;
    --bs-btn-focus-shadow-rgb:217,164,6;
    --bs-btn-active-color:#000;
    --bs-btn-active-bg:#ffcd39;
    --bs-btn-active-border-color:#ffc720;
    --bs-btn-active-shadow:inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color:#000;
    --bs-btn-disabled-bg:#9fe2ee;
    --bs-btn-disabled-border-color:#0cc0df}