<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>BrahmaNetra Prediction</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="assets/img/lg.png" rel="icon">
  <link href="assets/img/lg.png" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="assets/vendor/aos/aos.css" rel="stylesheet">
  <link href="assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
  <link href="assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
  <link href="assets/vendor/remixicon/remixicon.css" rel="stylesheet">
  <link href="assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="assets/css/style.css" rel="stylesheet">
</head>

<body>
  <!-- ======= Header ======= -->
  <header id="header" class="fixed-top ">
    <div class="container d-flex align-items-center justify-content-lg-between">
      <a href="" class="logo me-auto me-lg-0"><img src="assets/img/logo1.png" alt="" class="img-fluid"></a>
      <nav id="navbar" class="navbar order-last order-lg-0">
        <ul>
          <li><a class="nav-link scrollto active" href="">Home</a></li>
          <li><a class="nav-link scrollto" href="Learn.html">Learn</a></li>
        </ul>
      </nav>
    </div>
  </header><!-- End Header -->
    <!-- ======= Hero Section ======= -->
    <section id="hero1" class="d-flex align-items-center justify-content-center">
      <div class="container" data-aos="fade-up">
  
        <div class="row justify-content-center" data-aos="fade-up" data-aos-delay="150">
          <div class="col-xl-6 col-lg-8">
            <h1>Your Gateway to India's Hidden Stories</h1>
            <h2>Whispers of the past, unveiled in pixels</h2>
          </div>
        </div>
  
        <div class="row gy-4 mt-5 justify-content-center" data-aos="zoom-in" data-aos-delay="250">

<!--
          <div id = "camera" class="col-xl-2 col-md-4">
            <div class="icon-box">
              <i class="ri-camera-lens-fill"></i>
              <h3><a href="">Click !!!!</a></h3>
            </div>
          </div>


          <div class="col-xl-2 col-md-4">
            <div class="icon-box">
              <i class="ri-upload-cloud-2-line"></i>
              <h3><a href="{{ url_for('upload_file') }}">Upload</a></h3>
            </div>
          </div>
 -->
          <div style="color:white;">
                 <p >{{ predict }}</p>
                 
            </div>
      </div>
    </section><!-- End Hero -->
  
  </main><!-- End #main -->
    <!-- ======= Features Section ======= -->
    <section id="features" class="features">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>Effortless conversion in just 3 clicks: Witness the magic of AI at work.</h2>
        </div>

        <div class="row">
          <img class="image1 col-lg-6" src="{{ imgpath }}" alt="Brahmi Script" data-aos="fade-right"><br><br>
          <div class="col-lg-6" data-aos="fade-left" data-aos-delay="100">
            <div class="icon-box mt-5" data-aos="zoom-in" data-aos-delay="150">
              <form method=post enctype=multipart/form-data>
                <input type=file name=file style = "display: inline-block;
                padding: 12px 18px;
                cursor: pointer;
                border-radius: 5px;
                background-color: #1ad5e3;
                font-size: 16px;
                font-weight: bold;
                color: #fff;">
                <br>
                <br>
                <input type=submit value=Upload
                style="display: inline-block;
                padding: 12px 18px;
                cursor: pointer;
                border-radius: 5px;
                background-color: #1ad5e3;
                font-size: 16px;
                font-weight: bold;
                color: #fff;""
                ><br><br>                   
              </form>
              <h4 style ="font-size:80px;"> {{ predict }}</h4>
            </div>
          </div>
        </div>

      </div>
    </section><!-- End Features Section -->


  <!-- ======= Footer ======= -->
  <footer id="footer">
    <!-- Footer content here -->
  </footer><!-- End Footer -->

  <!-- Vendor JS Files -->
  <script src="assets/vendor/purecounter/purecounter_vanilla.js"></script>
  <script src="assets/vendor/aos/aos.js"></script>
  <script src="assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="assets/vendor/glightbox/js/glightbox.min.js"></script>
  <script src="assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>
  <script src="assets/vendor/swiper/swiper-bundle.min.js"></script>
  <script src="assets/vendor/php-email-form/validate.js"></script>

  <!-- WebcamJS -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/webcamjs/1.0.24/webcam.js"></script>

  <!-- Your custom scripts -->
  <script src="assets/js/main.js"></script>





</body>

</html>